/* 
    Feuille de Style pour les animations 
*/

/* Animation gauche <=> droite quand on clique sur le menu burger  */
@keyframes animerMenu {
    from {
        transform: translate(-100%);
    }
    to {
        transform: translate(0);
    }
}

/* Animation de hover sur le bouton ajouter au panier / voir l'article */
@keyframes animerBouton {
    from  {
        clip-path: circle(100%);
    }
    to {
        clip-path: circle(0%);
    }
}

/* Animation de retrait d'un produit dans le panier */
@keyframes retirerProduit {
    from {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    to {
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    }
}

/* Animation des slides du carroussel */
@keyframes fade {
    from {
        opacity: 0.4;
    } 
    to {
        opacity: 1;
    }
}