/* 
    Feuille de style pour TP final 

    * Auteurs: Clovis Gauthier & Ryan Ao
    * Remise: 15 décembre sur LÉA
    * Présentation: ? décembre 2023 (~11h20)
*/
/* 
    Catalogue
*/
/* 
    sous-navigation
*/
.sousNav { /*mobile seulement*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--couleurFond2);
    height: 80px;
}

.sousTitre {
    display: flex;
    flex-direction: column;
    color: var(--couleurTextePrincipal);
}

.sousTitre p:first-child {
    font-size: 2rem;
    font-weight: bold;
}

.affichage {
    display: flex;
    justify-content: space-evenly;
    column-gap: 2vw;
    align-items: center;
    color: var(--couleurTextePrincipal);
}

.affichage p {
    font-size: 1.1rem;
    font-weight: bold;
}

.affichage span {
    font-size: 2.75rem;
}

.affichage .vue {
    display: flex;
    align-items: center;
}

.affichage .vue span {
    margin-left: 5vw;
}

.filtre {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

#vague, #vaguePc, #precis, #precisPc {
    cursor: pointer;
    user-select: none;
}

#vague, #vaguePc, #btnVue, #btnVuePc { /*icône & checkbox*/
    display: none;
}
/* 
    Filtres (pc)
 */
.filtres {
    display: none;
    width: 20vw;
    height: fit-content;
    position: sticky;
    top: 31vh;
    user-select: none;
}

.filtres h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--couleurTextePrincipal);
    color: var(--couleurFond);
    text-align: center;
    height: 40px;
    font-size: 1.2rem;
}

.filtres div.boite {
    border: 1px solid var(--couleurTexteSecondaire);
    margin-top: 5px;
    padding: 5px;
}

.filtres h3 {
    font-size: 1rem;
    color: var(--couleurTextePrincipal);
}

.filtres p, .filtres a {
    display: block;
    padding-left: 5px;
    color: var(--couleurTexteSecondaire);
    font-weight: bold;
    cursor: pointer;
}

.filtres p {
    cursor: default;
}

.boite>a:hover {
    color: var(--couleurTextePrincipal);
}

.boite>a:last-of-type {
    margin-bottom: 10px;
}

.diagrame { /*barre horizontale*/
    display: flex;
    justify-content: space-around;
    position: relative;
    border: 2px solid var(--couleurTextePrincipal);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.diagrame::before { /*point à gauche de la barre horizontale*/
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--couleurFond);
    border: 2px solid var(--couleurTextePrincipal);
    border-radius: 50%;
    top: -9px;
    left: -10px;
}

.diagrame::after { /*point à droite de la barre horizontale*/
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--couleurFond);
    border: 2px solid var(--couleurTextePrincipal);
    border-radius: 50%;
    top: -9px;
    right: -10px;
}

.diagrame div { /*barres verticales*/
    position: absolute;
    width: 2px;
    height: 9px;
    background-color: var(--couleurTextePrincipal);
    top: -4px;
}

.diagrame div:first-child {
    left: 25%;
}

.diagrame div:last-child {
    left: 75%;
}

.etendue {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    padding-left: 4px;
    width: 98%;
    margin-bottom: 10px;
}
/*
    Produits
*/
.barreMauve {
    display: none;
    height: 40px;
    background-color: var(--couleurTextePrincipal);
    justify-content: space-between;
    padding: 0 30px;
    user-select: none;
}

.produit {
    padding: 10px 0px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    border-bottom: 2px solid var(--couleurTexteSecondaire);
}

.produit img {
    width: 100px;
    height: 100px;
    box-shadow: 0px 3px 5px 2px var(--couleurOmbre);
    object-fit: scale-down;
}

.produit .titre {
    font-size: 2rem;
    color: var(--couleurTextePrincipal);
    font-weight: bold;
}

.produit .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produit .prixBouton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.produit .description {
    display: none;
}

.produit .prix {
    font-size: 2rem;
    color: var(--couleurTextePrincipal);
}

.produit .exposant {
    vertical-align: super;
    font-size: 1.2rem;
}

.produit .bouton {
    position: relative;
    color: var(--couleurFond);
    padding: 10px 15px;
    border-radius: 15px;
    background-color: var(--couleurBouton);
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s;
    border: 4px solid var(--couleurBouton);
    overflow: hidden;
}

.produit .bouton:hover {
    color: var(--couleurBouton);
    padding: 10px 15px;
    border-radius: 15px;
    border: 4px solid var(--couleurBouton);
    cursor: pointer;
}

.produit .bouton:hover:before {
    content: "Ajouter au panier";
    background-color: var(--couleurFond);
    text-align: center;
    padding-top:  13px;
    position: absolute;
    left: -10%;
    right: -10%;
    bottom: -10%;
    top: -10%;
    font-weight: bold;
    font-size: 1rem;
    animation: animerBouton 1.2s reverse ease-in-out;
}
/* 
    requêtes médias
*/
@media screen and (min-width: 992px) {
    main {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    .sousNav {
        display: none;
    }

    .filtres {
        display: unset;
    }

    article {
        width: 70vw;
    }

    .barreMauve {
        display: flex;
    }

    .sousTitre {
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
        color: var(--couleurFond);
    }

    .sousTitre p:last-child {
        padding-top: 10px;
    }

    .affichage .vue {
        color: var(--couleurFond);
    }

    .affichage .vue span {
        margin-left: 1vw;
    }

    .produits {
        border: 1px solid var(--couleurTexteSecondaire);
        margin-top: 5px;
        display: flex;
        flex-flow: row wrap;
    }

    .produit {
        width: 25%;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--couleurTexteSecondaire);
    }

    .produit .titre {
        font-size: 1rem;
        display: none;
    }

    .produit img {
        width: 85%;
        height: 150px;
    }

    .produit .info {
        align-items: center;
        margin-top: 5px;
        padding: 0 15%;
    }

    .produit .prixBouton {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .produit .prix {
        align-self: flex-start;
    }

    .produit .description {
        display: unset;
        color: var(--couleurTextePrincipal);
        font-size: 0.9rem;
    }

    .produit .bouton, .produit .bouton:hover, .produit .bouton:hover::before {
        font-size: 0.8rem;
    }

    .produit .bouton {
        margin-top: 5px;
        width: 120%;
        text-align: center;
    }
}