/* 
    Feuille de style pour TP final 

    * Auteurs: Clovis Gauthier & Ryan Ao
    * Remise: 15 décembre sur LÉA
    * Présentation: 12 décembre 2023 (~11h20)
*/


/* 
    Main
 */

 main{
    margin: 0 auto;
    width: 80vw;
    padding-top: 5vh;
}

main div.carousel{
    display: flex;
    justify-content: space-between;
}

div.carousel img{
    border-radius: 0;
    width: 15vw;
    height: 15vh;
    object-fit: contain;
}

.article{
    padding-top: 5vh;
}

div div img{
    width: 100%;
}

.produit{
    width: 80%;
}

main>div>div div~div{
    padding-top: 2.5vh;
}
 /* 
    Requêtes Médias
 */
 @media screen and (min-width: 992px) {
    /* Main grand écran */
    
    main{
        margin: 0 auto;
        width: 80vw;
        padding-top: 5vh;
    }
    
    main div.carousel{
        display: flex;
        justify-content: space-between;
    }
    
    div.carousel img{
        border-radius: 0;
        width: 15vw;
        height: 15vh;
        object-fit: contain;
    }
    
    div div img{
        width: 10vw;
        object-fit: contain;
    }

    .produit{
        width: 35vw;
        display: flex;
        justify-content: space-between;
    }

    .article{
        display: flex;
        justify-content: space-between;
        padding-top: 5vh;
    }
    
    
    
    main>div>div div~div{
        padding-top: 2.5vh;
    }
    
    .item{
        display: none;
    }
 }