/* 
    Feuille de style pour TP final 

    * Auteurs: Clovis Gauthier & Ryan Ao
    * Remise: 15 décembre sur LÉA
    * Présentation: ? décembre 2023 (~11h20)
*/
/* 
    Panier
*/
h1 { /*titre*/
    color: var(--couleurTextePrincipal);
    font-size: 3rem;
    text-align: center;
}
/* liste des produits */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 2px var(--couleurLogInSurvol);
    border-bottom: solid 2px var(--couleurLogInSurvol);
}

.produit {
    margin-top: 20px;
    border-bottom: solid 1px var(--couleurLogInSurvol);
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.retraitProduit { /*class ajoutée pour animer*/
    animation: retirerProduit 0.4s forwards linear;
} 

.erreur { /*affiché s'il n'y a plus de produits dans le panier*/
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--couleurTextePrincipal);
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.imgProduit img{
    width: 30vw;
    height: 25vw;
    min-width: 120px;
    min-height: 100px;
    object-fit: contain;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.nomPrix {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    row-gap: 5px;
}

.vendeur {
    display: none;
    color: var(--couleurTexteSecondaire);
}

.description {
    display: none; /* retiré pour mobile*/
    font-size: 1.2rem;
    color: var(--couleurTexteSecondaire);
}

.nom, .prix {
    color: var(--couleurTextePrincipal);
    font-size: clamp(1rem, 1rem + 3vw, 4rem);
}

.nom {
    font-weight: bold;
}

.digits { /*[49].99$*/
    font-size: 2rem;
}

.exposant { /*49.[99$]*/
    vertical-align: super;
    font-size: 1rem;
}

.qte {
    display: flex;
    justify-content: center;
    column-gap: 5vw;
    align-items: center;
}

.boiteNb {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 50px;
    user-select: none;
}
.boiteNb p { /* - et + */
    font-size: 2rem;
    font-weight: bold;
    color: var(--couleurTexteSecondaire);
    width: 10vw;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
} 

.boiteNb p:nth-child(2) { /* chiffre entre le - et + */
    border-left: solid 1px var(--couleurPanierSurvol);
    border-right: solid 1px var(--couleurPanierSurvol);
    font-size: 1.5rem;
    font-weight: unset;
    padding-top: 10px;
    width: 18vw;
    cursor: default;
}

.boiteNb {
    border: solid 1px var(--couleurPanierSurvol);
}

.total {
    width: 125px; /*largeur fixe pour éviter que les éléments bougent avec le prix*/
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--couleurTextePrincipal);
}

.retirer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: var(--couleurTextePrincipal);
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.retirer span {
    cursor: pointer;
}
/* 
    Résumé de la commande
*/
.facture h2 {
    margin: 0 auto;
    margin-top: 20px;
    height: 50px;
    width: 75vw; /*retiré pour pc*/
    padding-top: 13px;
    background-color: var(--couleurTextePrincipal);
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.barreMauve { /*apparaît sur pc*/
    display: none;
    /* flex-direction: ; */
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--couleurTextePrincipal);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.boite {
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
    width: 75vw; /*retiré pour pc*/
    height: fit-content + 120px;
    border: 1px var(--couleurTexteSecondaire) solid;
}

.facture h3 {
    font-size: 1.5rem;
    color: var(--couleurTextePrincipal);
    margin-bottom: 10px;
}

.sousTotalFacture, .taxe, .totalFacture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 80%;
    color: var(--couleurTexteSecondaire);
    font-weight: bold;
    font-size: 1.2rem;
}

.sousTotalFacture p, .taxe p, .totalFacture p {
    color: var(--couleurTextePrincipal);
    font-size: 1.6rem;
}

.facture h3:nth-of-type(2) {
    /* width: 80%; */
    border-top: 1px solid var(--couleurTexteSecondaire);
    padding-top: 15px;
    /* height: 10px; */
}

.facture form {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.facture form div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10vw;
}

.facture label {
    font-size: 1.2rem;
    color: var(--couleurTexteSecondaire);
    font-weight: bold;
}

.facture a {
    color: white;
    background-color: var(--couleurTextePrincipal);
    font-size: 1.5rem;
    padding: 10px 30px;
    border: 1px solid var(--couleurTexteSecondaire);
}

.icones  {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    column-gap: 2vw;
}

.icones img {
    height: 40px;
    width: auto;
}
/* 
    Requêtes Médias
*/
 @media screen and (min-width: 576px) { 
    .description {
        display: unset;
    }
 }

 @media screen and (min-width: 992px) {
    main {
        display: flex;
    }

    main h1 {
        display: none;
    }

    article.articles {
        width: 75vw;
        border: none;
        margin-top: 20px;
    }

    .barreMauve {
        display: flex;
        width: 95%;
        justify-content: space-around;
    }

    .barreMauve p:nth-child(2) { /*travailler alignement*/
        /* color: red; */
        /* padding-left: ; */
        /* margin-left: 200px; */
    }

    .produit {
        flex-direction: unset;
        position: relative;
        justify-content: space-evenly;
        /* border: 1px var(--couleurTexteSecondaire) solid; */
    }

    .nomPrix {
        padding: unset;
    }

    .prix {
        color: var(--couleurTexteSecondaire);
        font-size: 1rem;
    }

    .digits {
        font-size: 1.2rem;
    }

    .exposant {
        /* vertical-align: unset; */
    }

    .vendeur {
        display: unset;
    }

    .description {
        display: none;
    }

    .imgProduit img {
        width: 15vw;
        height: 12.5vw;
    }

    .nom {
        font-size: 1rem;
    }

    .qte {
        column-gap: 30px;

    }

    .boiteNb p:nth-child(2), .boiteNb p {
        width: 50px;
    }

    .qte .total {
        width: 120px;
    }

    .retirer {
        position: absolute;
        right: 25%;
        bottom: 0;
        font-size: 1rem;
    }

    .facture {
        width: 20vw;
    }

    .facture h2 {
        width: unset;
    }

    .boite {
        width: unset;
    }

    .facture form div {
        column-gap: unset;
    }

    .facture form div label {
        font-size: 0.75rem;
    }
    .facture h3 {
        font-size: 1rem;
    }
    .facture a {
        padding: 5px;
        font-size: 1rem;
    }

    .icones img {
        height: 25px;
        column-gap: 1vw;
    }

 }